@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

body > * {
  flex-grow: 1;
  width: 100%;
}

body a:hover,
button {
  cursor: pointer;
}

img {
  max-width: 200px;
}

button {
  padding: 4px 14px;
  border-radius: 5px;
  color: #f9faf8;
  border-width: 1px;
  border-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #1f2937;
  height: 25px;
  width: 100%;
}

header h2 {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0 8px;
}

.header-link:hover,
button:hover {
  text-decoration: underline;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f2937;
  /* color: #f9faf8; */
}

.site-info {
  max-width: 400px;
}

.site-info h2 {
  font-size: 48px;
  margin: 6px 0;
  color: #f9faf8;
}

.site-info p {
  color: #e5e7eb;
  margin: 6px 0;
}

.site-info button {
  margin: 6px 0;
  background-color: #3882f6;
}

.image-container {
  text-align: center;
  color: #e5e7eb;
}

.image {
  border-radius: 5px;
  border: 7px #e5e7eb solid;
  margin: 6px 0;
}

.random-info-container {
  display: flex;
  flex-direction: column;
}

.random-info-container h2 {
  /* text-align: center; */
  font-size: 28px;
  font-weight: 900;
  color: #1f2937;
  margin: 12px auto;
}

.random-info-container .card-container {
  flex: 1 1 auto;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.card-container > * {
  width: 120px;
  text-align: center;
}

.card {
  height: 120px;
  width: 120px;
  border: 2px #3882f6 solid;
  border-radius: 5px;
  margin: 6px auto;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2937;
}

.quote {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  margin: 6px 0;
}

.quote-author {
  font-weight: 900;
}
