@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

body > * {
  flex-grow: 1;
  width: 100%;
}

body a:hover,
button {
  cursor: pointer;
}

img {
  max-width: 300px;
}

button {
  padding: 4px 14px;
  border-radius: 5px;
  color: #f9faf8;
  border-width: 1px;
  border-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1f2937;
  width: 100%;
}

header h2 {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0 8px;
}

.header-link:hover,
button:hover {
  text-decoration: underline;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f2937;
  /* color: #f9faf8; */
}

.site-info {
  max-width: 400px;
}

.site-info h2 {
  font-size: 48px;
  margin: 6px 0;
  color: #f9faf8;
}

.site-info p {
  color: #e5e7eb;
  margin: 6px 0;
}

.site-info button {
  margin: 6px 0;
  background-color: #3882f6;
}

.image-container {
  text-align: center;
  color: #e5e7eb;
}

.image {
  border-radius: 5px;
  border: 7px #e5e7eb solid;
  margin: 6px 0;
}
